[submodule "firmware/Arduino-AVR-CMake"]
	path = firmware/Arduino-AVR-CMake
	url = https://github.com/tttapa/Arduino-AVR-CMake
[submodule "firmware/ArduinoCore-avr"]
	path = firmware/ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr
[submodule "firmware/Keyboard"]
	path = firmware/Keyboard
	url = https://github.com/arduino-libraries/Keyboard
[submodule "kicad/lib/Keebio-Parts.pretty"]
	path = kicad/lib/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty
